@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Theme Swatches in Hex */
.color-theme_image_2024-07-11_031508322-1-hex {
  color: #3b4443;
}
.color-theme_image_2024-07-11_031508322-2-hex {
  color: #b3bcbb;
}
.color-theme_image_2024-07-11_031508322-3-hex {
  color: #7d948e;
}
.color-theme_image_2024-07-11_031508322-4-hex {
  color: #eaafa9;
}
.color-theme_image_2024-07-11_031508322-5-hex {
  color: #efd0ce;
}
.color-theme_image_2024-07-11_031508322-6-hex {
  color: #706545;
}

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
}
svg {
  width: 25px;
}
header {
  float: left;
  height: 100%;
}
.media > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 25%;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
